.busqueda-titulo {
  color: #ffc107;
  font-weight: bold;

}

.busqueda-contenedor{
    border: solid #ffc107 1px;
    border-radius: 15px;
}

table {
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
}

.mat-form-field {
  font-size: 15px;
  width: 100%;
}

.noEncontrado {
  color: gray;
  font-size: 1.05rem;
}

.limpia-enlace {
  color: #ffc107
}

/* Modal sala editar */
.titulo-modal {
  color: #ffc107;
}

.detalles-modal{
  font-size: 1.1rem;
}

.footer-modal {
  font-size: 0.8rem;
  color: gray;
}

.descrip-convenio {
  font-size: 0.95rem;
  color: gray;
}

.footer-cita {
  font-size: 0.8rem;
  color: gray;
}
