<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" 
   type = "ball-clip-rotate-pulse" [fullScreen] = "true">
   <p class="carga-spinner">Cargando..</p>
</ngx-spinner>

<div class="container-fluid p-2">
  <div class="container busqueda-contenedor p-3">
    <div class="row">
      <div class="col-md-12">
        <p class="text-left busqueda-titulo">Búsqueda en salas</p>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm"><fa-icon [icon]="faSearch"></fa-icon></span>
          </div>
          <input type="text" (keyup)="applyFilter($event)" class="form-control"
            placeholder="ID Sala, Nombre(s), Capacidad maxima, Numero piso" #input>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container pt-2">
  <div class="row pt-4 pl-3" *ngIf="dataSource.data.length == 0">
    <div class="col-md-7 col-xs-7">
      <h5 class="text-left"><fa-icon [icon]="faExclamationCircle"></fa-icon> No hay salas
        registradas</h5>
      <p class="text-left noEncontrado">Te sugerimos:</p>
      <ul class="text-left noEncontrado">
        <li>Registrar nuevas salas</li>
        <li>Revisar conexión a internet</li>
        <li>Si hubo un error contactanos soporte@lionrooms.com</li>
      </ul>

    </div>
  </div>

  <div class="table-responsive-md table-hover">

    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="idSala">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID Sala </th>
        <td mat-cell *matCellDef="let row"> {{row.idSala}} </td>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
      </ng-container>

      <ng-container matColumnDef="num_piso">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> N° Piso </th>
        <td mat-cell *matCellDef="let row"> {{row.num_piso}} </td>
      </ng-container>

      <ng-container matColumnDef="capacidad_max">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Capacidad </th>
        <td mat-cell *matCellDef="let row"> {{row.capacidad_max}} Personas </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td class="pb-1 pt-1" mat-cell *matCellDef="let row">

          <button mat-mini-fab color="secondary" ngbTooltip="Detalles sala" (click)="openDetalles(contentDetalles)">
            <mat-icon>meeting_room</mat-icon>
          </button>

          <button mat-mini-fab color="accent" ngbTooltip="Editar sala" (click)="openEditar(contentEditar, row.idSala, row)" >
            <mat-icon>room_preferences</mat-icon>
          </button>

          <button mat-mini-fab color="warn"  ngbTooltip="Eliminar sala" (click)="openElimina(contentElimina, row.idSala)">
            <mat-icon>no_meeting_room</mat-icon>
          </button>

           <!-- Aqui van los modales-->
          
          <!-- Modal detalles -->
          <ng-template #contentDetalles let-modal>
            <div class="modal-header">
              <h4 class="modal-title titulo-modal" id="modal-basic-title">Detalles de la sala</h4>
              <button class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                   <div class="row">
                     <div class="col-md-12 text-left">
                      <p class="detalles-modal"> 
                        <fa-icon [icon]="faFileSignature"></fa-icon> {{row.nombre}} <br>
                        <fa-icon [icon]="faBuilding"></fa-icon> Piso {{row.num_piso}} <br>
                        <fa-icon [icon]="faPeopleArrows"></fa-icon> Capacidad → {{row.capacidad_max}} Personas <br>
                        <fa-icon [icon]="faClock"></fa-icon> Horario hábil → 
                        {{row.hora_disp_inicial | slice:0:5}} hrs a {{row.hora_disp_final | slice:0:5}} hrs.
                        <br> 
                      </p>
                     </div>
                   </div>
                </div>
            </div>
            <div class="modal-footer">
              <button mat-raised-button color="primary" (click)="modal.close('Send')">Cerrar </button>
            </div>
          </ng-template>

          <!-- Modal Elimina -->
          <ng-template #contentElimina let-modal>
              <div class="modal-header">
                <h4 class="modal-title titulo-modal" id="modal-title">Dar de baja sala</h4>
                <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p><strong>¿Estás segur@ que quieres eliminar la sala  
                  <span>"{{row.nombre}}"</span> ?</strong></p>
                <p>Toda la información asociada con esta operación será eliminada. <br />
                </p>
              </div>
              <div class="modal-footer">
                <button mat-raised-button color="primary" class="mr-1" (click)="modal.dismiss('cancel click')">Cancelar </button>
                <button mat-raised-button color="warn" (click)="modal.close('Ok click')">Eliminar </button>
              </div>
          </ng-template>

          <!-- Modal Editar -->
          <ng-template #contentEditar let-modal>
            <div class="modal-header">
              <h4 class="modal-title titulo-modal" id="modal-basic-title">Editar la sala</h4>
              <button class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
               <form novalidate [formGroup]="editarForm">
                  <div class="container-fluid">
                      <h3 class="text-center titulo-sala">Editar la sala {{row.nombre}}</h3>
                        <h5 class="text-left">Datos básicos</h5>
                        <div class="row">
                          <div class="col-md-4 mb-3">
                            <div class="input-group">
                              <span class="input-group-text" id="basic-addon1">Nombre:</span>
                              <input type="text" id="nombre" [(ngModel)]="row.nombre" formControlName="nombre" maxlength="70"
                                class="form-control">
                            </div>
                            <div class="alert alert-danger errorForm"
                              *ngIf="editarForm.get('nombre').invalid && editarForm.get('nombre').touched">
                              <div *ngIf="editarForm.get('nombre').errors.required" class="errorForm">
                                El nombre es invalido.
                              </div>
                              <div *ngIf="editarForm.get('nombre').errors.minlength">
                                El nombre por lo menos debe tener 2 caracteres.
                              </div>
                              <div *ngIf="editarForm.get('nombre').errors.maxlength">
                                El nombre a lo máximo debe tener 70 caracteres.
                              </div>
                            </div>
                          </div>
                    
                          <div class="col-md-4 mb-3">
                            <div class="input-group">
                              <span class="input-group-text" id="basic-addon1">Numero de piso:</span>
                              <input type="number" id="num_piso" [(ngModel)]="row.num_piso" formControlName="num_piso"
                                min="1" class="form-control">
                            </div>
                            <div class="alert alert-danger errorForm"
                              *ngIf="editarForm.get('num_piso').invalid && editarForm.get('num_piso').touched">
                              <div *ngIf="editarForm.get('num_piso').errors.required" class="errorForm">
                                El numero de piso es invalido.
                              </div>
                              <div *ngIf="editarForm.get('num_piso').errors.min">
                                El numero de piso minimo es 1
                              </div>
                              <div *ngIf="editarForm.get('num_piso').errors.max">
                                El numero de piso maximo es 70
                              </div>
                            </div>
                          </div>
                    
                          <div class="col-md-4 mb-3">
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">Capacidad maxima:</span>
                                <input type="number" id="capacidad_max" [(ngModel)]="row.capacidad_max" formControlName="capacidad_max"
                                  min="1" class="form-control">
                              </div>
                              <div class="alert alert-danger errorForm"
                                *ngIf="editarForm.get('capacidad_max').invalid && editarForm.get('capacidad_max').touched">
                                <div *ngIf="editarForm.get('capacidad_max').errors.required" class="errorForm">
                                  El numero de piso es invalido.
                                </div>
                                <div *ngIf="editarForm.get('capacidad_max').errors.min">
                                  El numero de piso minimo es 1
                                </div>
                                <div *ngIf="editarForm.get('capacidad_max').errors.max">
                                  El numero de piso maximo es 30
                                </div>
                              </div>
                          </div>
                        </div>
                    
                        
                        <h5 class="text-left">Horario hábil de la sala </h5>
                    
                        <div class="row">
                          <div class="col-md-5 mb-3">
                            <div class="input-group">
                              <span class="input-group-text" id="basic-addon1">Hora apertura:</span>
                              <input type="time" id="hora_disp_inicial" [(ngModel)]="row.hora_disp_inicial"
                                formControlName="hora_disp_inicial" class="form-control">
                            </div>
                            <div class="alert alert-danger errorForm"
                              *ngIf="editarForm.get('hora_disp_inicial').invalid && editarForm.get('hora_disp_inicial').touched">
                              <div *ngIf="editarForm.get('hora_disp_inicial').errors.required" class="errorForm">
                                La hora es invalida.
                              </div>
                            </div>
                          </div>
                    
                          <div class="col-md-5 mb-3">
                            <div class="input-group">
                              <span class="input-group-text" id="basic-addon1">Hora cierre:</span>
                              <input type="time" id="hora_disp_final" [(ngModel)]="row.hora_disp_final"
                                formControlName="hora_disp_final" class="form-control">
                            </div>
                            <div class="alert alert-danger errorForm"
                              *ngIf="editarForm.get('hora_disp_final').invalid && editarForm.get('hora_disp_final').touched">
                              <div *ngIf="editarForm.get('hora_disp_final').errors.required" class="errorForm">
                                La hora es invalida.
                              </div>
                            </div>
                          </div>
                        </div>
                    
                  </div>
               </form>
            </div>
            <div class="modal-footer">
               <button mat-raised-button color="primary" class="mr-1" (click)="modal.dismiss('cancel click')">Cancelar </button>
               <button mat-raised-button color="secondary" [disabled]="editarForm.invalid" (click)="modal.close('Ok click')">Guardar </button>
            </div>
          </ng-template>


        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No se encontró nada en lo filtrado con: "{{input.value}}"</td>
      </tr>

    </table>

    <mat-paginator [pageSizeOptions]="[3, 5, 8, 10]"></mat-paginator>
  </div>

  <div class="example-button-row">
    <button mat-raised-button color="accent" routerLink="/sala/registro">
      <mat-icon mat-mini>add_box</mat-icon> Añadir una sala</button>
  </div>
  
</div>
