<div class="container pt-4">
    <div class="row pb-2">
        <div class="col-md-6 mx-auto">
            <img src="assets/images/logo-lion-rv2.png" height="120px" class="img-fluid"
            alt="logo-lion.png" loading="lazy">
        </div>
    </div>
    <div class="row pb-4">
        <div class="col-md-12">
            <p class="h4 text-center titulo-error">Lo sentimos, no encontramos la página buscada.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <button mat-raised-button color="accent" routerLink="/home">
                <mat-icon mat-mini>home</mat-icon> Ir a inicio</button>
        </div>
    </div>
</div>

